BASE_URL=replace_me
USER_NAME=replace_me
PASSWORD=replace_me
SECRET_KEY=replace_me
API_BASE_URL=replace_me
API_USERNAME=replace_me
API_PASSWORD=replace_me
JIRA_BASE_URL=replace_me
JIRA_EMAIL=replace_me
JIRA_API_TOKEN=replace_me
JIRA_PROJECT_KEY=replace_me
JIRA_ISSUE_TYPE=replace_me
CONFLUENCE_BASE_URL=replace_me
CONFLUENCE_EMAIL=replace_me
CONFLUENCE_API_TOKEN=replace_me
CONFLUENCE_PAGE_ID=replace_me
SLACK_WEBHOOK_URL=replace_me
PUSHGATEWAY_URL=replace_me
PUSHGATEWAY_JOB=playwright-reporting
